{% load bootstrap3 %}

{# Display a form #}

<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>

{% if all_books %}
    <ul>
    {% for book in all_books %}
        <li><a href="/myapp/{{ book.id }}/">{{ book.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Книжек нет.</p>
{% endif %}