{% extends 'foot.html' %}
{% block body_block %}
<h3>ISBN {{isbn}}</h3>

{% for book in books %}

<h1>{{ book.name }}</h1>
<ul>
    # {{book.id}}

<li>Автор: {% for all in book.author.all %}
          <a href='/myapp/{{all.id}}/author/'>{{all.surname}}</a>
            {%endfor%}
</li>

    Издательство: {% for all in book.publisher.all %}
    <li><a href="/myapp/{{ all.id }}/results/">{{ all.name }}</a></li>
<li>    Город: {{all.city}}</li>
    {% endfor %}

<li>Год: {{book.year}}</li>
<li>Объем: {{book.pages}}</li>
<li>Тираж: {{book.exem}} </li>
<li>ISBN: {{book.isbn}}</li>
<li>ББК: {{book.bbk}}</li>
<li>УДК: {{book.udk}}</li>
</ul>

 <div class="page-header">
        <h1>Карточка книги</h1>
      </div>
      <div class="well">
        <p>{{book.full}}</p>
      </div>
{% endfor %}

{% endblock %}