{% extends 'foot.html' %}
{% block body_block %}
<h1>Книги, выпущенные под одним ISBN</h1>

{% for book in books %}

<h3>{{ book.name }}</h3>

<ul>
    <li># {{book.id}}</li>

    <li>Издательство:</li>

        <ul>{% for all in book.publisher.all %}
            <li><a href="/myapp/{{ all.id }}/results/">{{ all.name }}</a></li>
            <li>    Город: {{all.city}}</li>
            {% endfor %}
        </ul>
    <li>ISBN: {{book.isbn}}</li>
    <li>Full: {{book.full}}</li>
    </ul>
{% endfor %}

{% endblock %}